<template>
  <router-view/>
</template>
<script>
import {mapActions, mapGetters} from 'vuex';

export default {
  beforeCreate() {
    this.$store.dispatch('loadUserFromLocalStorage');
    this.$store.dispatch('checkAuthentication');
  },
  methods: {
    ...mapActions(['checkAuthentication']),
    ...mapActions(['loadUserFromLocalStorage']),
   },
  computed:{
    ...mapGetters['currentUser']
  },
};
</script>