<template>
  <form @submit.prevent="login">
    <label for="login">login</label>
    <input id="login" type="text" v-model="user.login">
    <label for="password">password</label>
    <input id="password" type="password" v-model="user.password">
    <button type="submit">Connexion</button>
  </form>

</template>
<script>

import {AccountService} from "@/_services";
import router from "@/router";

export default {
  data() {
    return {
      isLogged: AccountService.isLogged(),
      user: {
        login: '',
        password: ''
      }
    }
  },
  methods: {

    async login() {
      try {
        await this.$store.dispatch('login', this.user);
        await router.push('/')
      } catch (error) {
        console.error(error)
      }

    },
    name: "login"
  }
}
</script>
<style scoped>

</style>