<template>
  <header>
    <router-link class="link" to="/">
      <img class="logo" src="@/assets/logo.png" alt="logo">
    </router-link>
    <div class="title-container">
      <h1> TODOLIST WEB</h1>
    </div>
    <div class="menu">
      <router-link class="link" to="/home">home</router-link>
      <router-link class="link" to="/users">users</router-link>
      <router-link class="link" to="/admin">admin</router-link>
      <button v-if="isAuthenticated" class="logout-button" @click="logout()">logout</button>
      <router-link  v-else class="link" to="/login">login</router-link>
      <p v-if="isAuthenticated" > {{currentUser.login}}</p>
      <router-link class="link" to="/admin">
        <img class="logo" src="@/assets/logo.png" alt="logo">
      </router-link>
    </div>
  </header>
  <h1>
    Bonjour {{ currentUser}}

  </h1>
  <router-view/>

</template>

<script>
import { AccountService } from "@/_services";
import router from "@/router";
import {mapActions, mapGetters} from "vuex";

export default {
  name: "PublicLayout",
  computed: {
    ...mapGetters(["isAuthenticated"]),
    ...mapGetters(["currentUser"]),
  },
  methods: {
    ...mapActions(['checkAuthentication']),
    logout() {
      AccountService.logout();
      this.$store.dispatch("logout");
      router.push("/");
    },
  },
};
</script>
<style scoped>
header {
  margin: 0;
  background-color: #eae2e2;
  width: 100%;
  height: 75px;
  color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo {
  margin-left: 15px;
  width: 50px;
  height: 50px;
}

.title-container {
  text-align: center;
  width: 70%;
  margin: 10px;
  font-weight: inherit;
}

.menu {
  width: 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.link {
  color: inherit;
  text-decoration: none;
}

.logout-button {
  box-shadow: transparent;
  background-color: transparent;
  color: inherit;
  text-decoration: none;
  padding: 0;
  border: none;
  cursor: pointer;
  font-family: "serif";
  font-weight: normal;
  font-size: 16px;
  line-height: 13px;
}
</style>
<script setup>
</script>