<template>


  <table>
    <thead>
    <tr>
      <th>id</th>
      <th>login</th>
      <th>role</th>
    </tr>
    </thead>
    <tbody>
    <tr v-for="user in users" :key="user.id">
      <td>{{ user.id }}</td>
      <td>{{ user.login }}</td>
      <td>{{ user.role }}</td>
    </tr>
    </tbody>
  </table>
</template>
<script>
import {UserService} from "@/_services";

export default {
  name: "Users",
  data() {
    return {
      users: []
    }
  },
  mounted() {
    UserService.GetAllUsers()
        .then(res => {
          this.users = res.data
        })
        .catch(err => {
          console.error(err)
        })
  },
}

</script>
<style scoped>

</style>